<div class="">
    <h2 style="text-align: center;">Gestión de Cursos</h2>
    <br>
    <button class="general-button-green" (click)="add()">
      Agregar Curso
    </button>

    <div class="table-responsive-general">
      <table class="w3-table-all-general">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Profesor</th>
            <th>Semestre</th>
            <th>Año</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let course of courses">
            <td>{{course.code}}</td>
            <td>{{course.name}}</td>
            <td>{{course.professorName}}</td>
            <td>{{course.semester}}</td>
            <td>{{course.year}}</td>
            <td>
              {{ course.isActive ? 'Activo' : 'Inactivo' }}
            </td>
            <td class="actions">
              <button class="general-button-green" (click)="update(course)">
                edit
              </button>
              <button class="general-button-red" (click)="deleteCourse(course)">
                delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>